$headerBgColor: #373b6a;
$mainBgColor: #21254b;
$mainColor: aliceblue;
$activeColor: #b2bd42;

.movie-main__wrapper-container-card{
    font-size: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.15);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    overflow: hidden;
}

.movie-main__container-card{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    color: $mainColor;
    background-color: $headerBgColor;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.movie-main__wrapper-card-info{
    color: #cfcfd4;
    padding: 20px;    
    max-width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    row-gap: 20px;
}

.movie-main__container-card-title{
    font-family: 'Merriweather', serif;;
    text-align: center;
    color: orange;
}
.movie-main__container-card-overview-title{
    font-family: 'Merriweather', serif;;
    color: orange;
}
.movie-main__container-card-properties{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.movie-main__container-card-wrapper-prop{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.movie-main__container-card-date,
.movie-main__container-card-genres,
.movie-main__container-card-time,
.movie-main__container-card-rating{
    text-align: right;
}
.movie-main__container-card-overview{
    line-height: 1.5rem;
}

.movie-main__container-card-tagline{
    font-family: 'Courgette', cursive;
}
.movie-main__container-card-close{
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 70px;
    padding-bottom: 10px;
    line-height: 0;
    font-weight: 900;
    vertical-align: middle;
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    transition: color 0.3s ease-in;
}
.movie-main__container-card-close:hover{
    color: $activeColor;
}

.movie-main__container-card-container-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    
}

.movie-main__container-card-video{
    border: none;
    width: 720px;
    height: 405px;
}