
@mixin formsInputs() {
    border: 2px solid #22254b;
    border-radius: 50px;
    background: transparent;
    height: 50px;
    padding: 10px 8px;
    color: $mainColor;
    font-size: inherit;
}

$headerBgColor: #373b6a;
$mainBgColor: #21254b;
$mainColor: aliceblue;
$activeColor: #b2bd42;

*{
    box-sizing: border-box;
}


html{
    font-size: 20px;
    font-weight: 400;
}

body{
    margin: 0;
    padding: 0;
}

.movie__container{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.movie-header{
    background: $headerBgColor;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 100px;
}
.movie__title{
    color: $mainColor;
}

.movie-header__form{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.movie-header__form-select-count{
    @include formsInputs();

    option{
        color: $mainColor;
        background-color:$mainBgColor;
    }
}
.movie-header__wraper-search{
    position: relative;
}
.movie-header__form-search{
    @include formsInputs();
    width: 200px;    
    padding-right: 30px;
}

.movie-header__form-search::placeholder{
    color: $mainColor;
}

.movie-header__form-search-reset-btn{
    position: absolute;
    top: 14px;
    right: 10px;
    color: $mainColor;
    font-size: inherit;
    border: none;
    background: transparent;
}

.movie-main{
    background: $mainBgColor;
    flex-grow: 1;
}

.movie-main__container{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.movie-main__data-container{
    position: relative;
    width: 300px;
    height: 528px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.movie-main__data-container:hover .movie-main__data-overview{
    bottom: 0;
    
}

.movie-main__data-poster{
    width: 100%;
    max-height: 440px;
}

.movie-main__data-info{
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding: 8px 16px 16px 16px;
    align-items: center;
    justify-content: space-between;
    background-color: $headerBgColor;
}

.movie-main__data-name{
    margin-top: 0;
    margin-bottom: 0;
    color: $mainColor;
}

.movie-main__data-rating{
    padding: 4px 8px;
    background: $mainBgColor;
    color: aliceblue;
}

.movie-main__data-overview{
    position: absolute;
    bottom: -528px;
    max-height: 100%;
    width: 100%;
    padding: 32px;
    color: #1c1c1c;
    background-color: #fff;
    transition: bottom 0.5s ease-in;
    overflow-y: auto;
}

.movie-footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    color: $mainColor;
    background: $headerBgColor;
}

.movie-footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    color: $mainColor;
    background: $headerBgColor;
}

.movie__github-container{
    display: flex;
    gap: 20px;
}
.movie-rsscholl,
.movie__github-link{
    font-size: inherit;
    color: $mainColor;
    text-decoration: none;
}
.movie-rsscholl:hover,
.movie__github-link:hover{
    color: $activeColor
}

.movie-tmbd__logo{
    min-width: 146px;
    height: 50px;
    background-image: url("../assets/svg/tmbd-logo.svg");
    background-repeat: no-repeat;
    background-size: 50px 50px ;
    background-position: center center ;
}

.movie-tmbd__text{
    align-self: flex-end;
}