@mixin formsInputs() {
    border: 2px solid #22254b;
    border-radius: 50px;
    background: transparent;
    height: 50px;
    padding: 10px 8px;
    color: $mainColor;
    font-size: inherit;
    font-family: inherit;
}

$headerBgColor: #373b6a;
$mainBgColor: #21254b;
$mainColor: aliceblue;
$activeColor: #b2bd42;

*{
    box-sizing: border-box;
    pointer-events: auto;
}



html{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

body{
    margin: 0;
    padding: 0;
}

.movie__container{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.movie-header{
    position: fixed;
    background: $headerBgColor;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 100px;
    z-index: 3;
}
.movie__title{
    font-family: 'Bungee shade', cursive;
    color: $mainColor;
}

.movie-header__form{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.movie-header__wraper-sort{
    display: flex;
    gap: 10px;
}
.select{
    @include formsInputs();
    option{
        color: $mainColor;
        background-color:$mainBgColor;
    }
    transition: color .5s ease-in, border .5s ease-in;
    cursor: pointer;
    order:2;
}
.movie-header__form-select-year{
    @include formsInputs();
    transition: color .5s ease-in, border .5s ease-in;
    order: 2;
}
.movie-header__form-select-year::placeholder{
    color: $mainColor
}
.movie-header__form-select-year:hover::placeholder{
    color: $activeColor
}
.movie-header__form-search-submit-btn,
.movie-header__form-sort-btn{
    @include formsInputs();
    width: 100px;
    background: rgb(232, 232, 233);
    color: #1c1c1c;
    cursor: pointer;
    transition: background 0.5s ease-in;
    transition: color 0.5s ease-in;
    order: 2;
}
.movie-header__form-search-submit-btn:hover,
.movie-header__form-sort-btn:hover{
    background: rgb(182, 182, 184);
    color: #000;
    cursor: pointer ;
}
.movie-header__container-wraper-search{
    display: flex;
    
}
.movie-header__form-search-submit-btn{
    width: 70px;
    order:2;
    padding: 0;
}

.movie-header__form-search-icon{
    
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../assets/svg/magnify.svg");
    background-size: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}


.movie-header__wraper-search{
    position: relative;
    order: 2
}
.movie-header__form-search{
    @include formsInputs();
    
    width: 200px;    
    padding-right: 40px;
    transition: color .5s ease-in, border .5s ease-in;
}

.movie-header__form-search::placeholder{
    color: $mainColor;
    transition: color .5s ease-in
}
.movie-header__form-select-year:hover,
.select:hover,
.movie-header__form-search:hover{
    border: 2px solid $activeColor;
    color: $activeColor;
}
.movie-header__form-select-year:focus,
.movie-header__form-search:focus{
    background-color: rgb(226, 228, 229);
    color:#1c1c1c
}
.movie-header__form-select-year:focus::placeholder,
.movie-header__form-search:focus::placeholder{
    color:#1c1c1c
}
.movie-header__form-select-year:focus:hover::placeholder,
.movie-header__form-search:focus:hover::placeholder{
    color:#1c1c1c
}

.movie-header__form-search:focus+.movie-header__form-search-reset-btn{
    color:#1c1c1c
}

.movie-header__form-search:hover::placeholder{
    color: $activeColor;
}

.movie-header__form-search-reset-btn{
    position: absolute;
    top: 14px;
    right: 10px;
    color: $mainColor;
    font-size: inherit;
    font-weight: 700;
    border: none;
    background: transparent;
    transition: color .3s ease-in, outline .1s ease-in;
}
.movie-header__form-search-reset-btn:hover{
    cursor: pointer;
    outline: 2px solid $activeColor;
    border-radius: 10px;
    color: $activeColor;
}

.movie-main{
    margin-top: 100px;
    background: $mainBgColor;
    flex-grow: 1;
}
.movie-main__title{
    text-align: center;
    color: $mainColor;
    margin: 30px 0px;
}
.movie-main__pagination{
    text-align: center;
    color: $mainColor;
}

.movie-main__pagination-btn{
    display: inline-block;
    border: none;
    background-color: transparent;
    color: $mainColor;
    margin-left: 20px;
    cursor: pointer;

    transition: color 0.5s ease-in;
}
.movie-main__pagination-btn-current{
    outline: 1px solid $mainColor;
}

.movie-main__pagination-btn:hover{
    color: $activeColor;
    cursor: pointer;

}

.movie-main__pagination-span{
    margin-left: 20px;
}



.movie-main__container{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}


.movie-main__data-container{
    position: relative;
    width: 300px;
    height: 528px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
}
.movie-main__data-container:hover .movie-main__data-overview{
    bottom: 0;
    cursor: pointer;
    
}

.movie-main__data-poster{
    width: 100%;
    max-height: 440px;
}

.movie-main__data-info{
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding: 8px 16px 16px 16px;
    align-items: center;
    justify-content: space-between;
    background-color: $headerBgColor;
}

.movie-main__data-name{
    margin-top: 0;
    margin-bottom: 0;
    color: $mainColor;
}

.movie-main__data-rating{
    padding: 4px 8px;
    background: $mainBgColor;
    color: aliceblue;
}

.movie-main__data-overview{
    position: absolute;
    bottom: -528px;
    max-height: 100%;
    width: 100%;
    padding: 32px;
    color: #1c1c1c;
    background-color: #fff;
    transition: bottom 0.5s ease-in;
    overflow-y: auto;
}

.movie-footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    color: $mainColor;
    background: $headerBgColor;
}

.movie-footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    color: $mainColor;
    background: $headerBgColor;
}

.movie__github-container{
    display: flex;
    gap: 20px;
}
.movie-rsscholl,
.movie__github-link{
    font-size: inherit;
    color: $mainColor;
    text-decoration: none;
}
.movie-rsscholl:hover,
.movie__github-link:hover{
    color: $activeColor
}

.movie-tmbd__logo{
    min-width: 146px;
    height: 50px;
    background-image: url("../assets/svg/tmbd-logo.svg");
    background-repeat: no-repeat;
    background-size: 50px 50px ;
    background-position: center center ;
}

.movie-tmbd__text{
    align-self: flex-end;
}